# Server
DATABASE_URL=postgresql://profitofexile:profitofexile@postgres:5432/profitofexile?sslmode=disable
PORT=8080

# Collector
LEAGUE=Mirage
MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_JWT_SECRET=
NINJA_FALLBACK_INTERVAL=30m
NINJA_MAX_AGE=30m
NINJA_MAX_RETRIES=5
NINJA_MIN_SLEEP=30s
